.button {
    width: 100%;
    height: 3.125rem;
    border-radius: 0.5rem;
    font-weight: 500;

    background: var(--purple-100);
    color: var(--white);
    padding: 0 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0;
    transition: filter 0.2s;

    &.outlined {
        background: var(--white);
        border: 1px solid var(--purple-100);
        color: var(--purple-100);
    }

    &:not(:disabled):hover {
        filter: brightness(0.95);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed; 
     }
}

.buttonLeftIcon {
    margin-right: 0.5rem;
}